.fade-enter-active { transition:.3s; }
.fade-enter-from { opacity:0; transform:translateY(10px); }

.list-enter-active { transition:.3s; }
.list-enter-from { opacity:0; transform:translateY(10px); }

.card { transition:.25s; }
.card:hover { transform:translateY(-5px); }
