body {
  margin: 0;
  font-family: Arial;
  background: #f5f7fa;
}

button {
  border: none;
  background: #3498db;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
}

button:hover {
  background: #2980b9;
}

input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}